src/main/resources/wsdl/vtj.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="SoSoAdapterService60"
	targetNamespace="http://xml.vrk.fi/ws/vtj/vtjkysely/1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:tns="http://xml.vrk.fi/ws/vtj/vtjkysely/1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsp:Policy wsu:Id="BasicHttpBinding_ISoSoAdapterService60_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding
					xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false" />
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://xml.vrk.fi/ws/vtj/vtjkysely/1">
			<xsd:element name="HenkilonTunnusKysely" type="tns:HenkiloTunnusKyselyReqBody" />
			<xsd:complexType name="HenkiloTunnusKyselyReqBody">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="request"
						type="tns:HenkiloTunnusKyselyReqBodyTiedot" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="HenkiloTunnusKyselyReqBodyTiedot">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="SoSoNimi"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Kayttajatunnus"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Salasana"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Loppukayttaja"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Laskutustiedot"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Henkilotunnus"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1"
						name="SahkoinenAsiointitunnus" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1"
						name="VarmenteenMyontaja" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="X509Certificate"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1"
						name="VarmenteenVoimassaolotarkistus" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1"
						name="VarmenteenSulkulistatarkistus" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1"
						name="Tunnistusportaali" type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="Vara1"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="HenkilonTunnusKyselyResponse" type="tns:HenkiloTunnusKyselyResBody" />
			<xsd:complexType name="HenkiloTunnusKyselyResBody">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="request"
						type="tns:HenkiloTunnusKyselyReqBodyTiedot" />
					<xsd:element minOccurs="0" maxOccurs="1" name="response"
						type="tns:HenkiloTunnusKyselyResType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="HenkiloTunnusKyselyResType">
				<xsd:sequence>
					<xsd:any minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="HaeTuotteenSkeema" type="tns:TuotteenSkeemaReqBody" />
			<xsd:complexType name="TuotteenSkeemaReqBody">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="request"
						type="tns:TuotteenSkeemaReqBodyTiedot" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TuotteenSkeemaReqBodyTiedot">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="SoSoNimi"
						type="xsd:string" />
					<xsd:element minOccurs="1" maxOccurs="1" name="Laji"
						type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="HaeTuotteenSkeemaResponse" type="tns:TuotteenSkeemaResBody" />
			<xsd:complexType name="TuotteenSkeemaResBody">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="reguest"
						type="tns:TuotteenSkeemaReqBodyTiedot" />
					<xsd:element minOccurs="0" maxOccurs="1" name="response"
						type="tns:TuotteenSkeemaResType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TuotteenSkeemaResType">
				<xsd:sequence>
					<xsd:any minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://x-road.eu/xsd/sdsb.xsd">
			<xsd:element name="client" type="q1:Client"
				xmlns:q1="http://x-road.eu/xsd/sdsb.xsd" />
			<xsd:complexType name="Client">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" ref="q2:sdsbInstance"
						xmlns:q2="http://x-road.eu/xsd/identifiers" />
					<xsd:element minOccurs="0" maxOccurs="1" ref="q3:memberClass"
						xmlns:q3="http://x-road.eu/xsd/identifiers" />
					<xsd:element minOccurs="0" maxOccurs="1" ref="q4:memberCode"
						xmlns:q4="http://x-road.eu/xsd/identifiers" />
					<xsd:element minOccurs="0" maxOccurs="1" ref="q5:subsystemCode"
						xmlns:q5="http://x-road.eu/xsd/identifiers" />
				</xsd:sequence>
				<xsd:attribute ref="q6:objectType" xmlns:q6="http://x-road.eu/xsd/identifiers" />
			</xsd:complexType>
			<xsd:element name="id" type="xsd:string" />
			<xsd:element name="issue" type="xsd:string" />
			<xsd:element name="service" type="q7:Service"
				xmlns:q7="http://x-road.eu/xsd/sdsb.xsd" />
			<xsd:complexType name="Service">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" ref="q8:sdsbInstance"
						xmlns:q8="http://x-road.eu/xsd/identifiers" />
					<xsd:element minOccurs="0" maxOccurs="1" ref="q9:memberClass"
						xmlns:q9="http://x-road.eu/xsd/identifiers" />
					<xsd:element minOccurs="0" maxOccurs="1" ref="q10:memberCode"
						xmlns:q10="http://x-road.eu/xsd/identifiers" />
					<xsd:element minOccurs="0" maxOccurs="1"
						ref="q11:subsystemCode" xmlns:q11="http://x-road.eu/xsd/identifiers" />
					<xsd:element minOccurs="0" maxOccurs="1" ref="q12:serviceCode"
						xmlns:q12="http://x-road.eu/xsd/identifiers" />
					<xsd:element minOccurs="0" maxOccurs="1"
						ref="q13:serviceVersion" xmlns:q13="http://x-road.eu/xsd/identifiers" />
				</xsd:sequence>
				<xsd:attribute ref="q14:objectType" xmlns:q14="http://x-road.eu/xsd/identifiers" />
			</xsd:complexType>
			<xsd:element name="userId" type="xsd:string" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://x-road.eu/xsd/identifiers">
			<xsd:element name="sdsbInstance" type="xsd:string" />
			<xsd:element name="memberClass" type="xsd:string" />
			<xsd:element name="memberCode" type="xsd:string" />
			<xsd:element name="subsystemCode" type="xsd:string" />
			<xsd:attribute name="objectType" type="xsd:string" />
			<xsd:element name="serviceCode" type="xsd:string" />
			<xsd:element name="serviceVersion" type="xsd:string" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="HenkilonTunnusKyselyRequest60">
		<wsdl:part name="HenkilonTunnusKysely" element="tns:HenkilonTunnusKysely" />
	</wsdl:message>
	<wsdl:message name="HenkilonTunnusKyselyRequest60_Headers">
		<wsdl:part name="clientField" element="q15:client"
			xmlns:q15="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="id" element="q16:id" xmlns:q16="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="issue" element="q17:issue"
			xmlns:q17="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="serviceField" element="q18:service"
			xmlns:q18="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="userId" element="q19:userId"
			xmlns:q19="http://x-road.eu/xsd/sdsb.xsd" />
	</wsdl:message>
	<wsdl:message name="HenkiloTunnusKyselyResponse60">
		<wsdl:part name="HenkilonTunnusKyselyResponse" element="tns:HenkilonTunnusKyselyResponse" />
	</wsdl:message>
	<wsdl:message name="HenkiloTunnusKyselyResponse60_Headers">
		<wsdl:part name="clientField" element="q20:client"
			xmlns:q20="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="id" element="q21:id" xmlns:q21="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="issue" element="q22:issue"
			xmlns:q22="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="serviceField" element="q23:service"
			xmlns:q23="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="userId" element="q24:userId"
			xmlns:q24="http://x-road.eu/xsd/sdsb.xsd" />
	</wsdl:message>
	<wsdl:message name="TuotteenSkeemaRequest60">
		<wsdl:part name="HaeTuotteenSkeema" element="tns:HaeTuotteenSkeema" />
	</wsdl:message>
	<wsdl:message name="TuotteenSkeemaRequest60_Headers">
		<wsdl:part name="clientField" element="q25:client"
			xmlns:q25="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="id" element="q26:id" xmlns:q26="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="issue" element="q27:issue"
			xmlns:q27="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="serviceField" element="q28:service"
			xmlns:q28="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="userId" element="q29:userId"
			xmlns:q29="http://x-road.eu/xsd/sdsb.xsd" />
	</wsdl:message>
	<wsdl:message name="TuotteenSkeemaResponse60">
		<wsdl:part name="HaeTuotteenSkeemaResponse" element="tns:HaeTuotteenSkeemaResponse" />
	</wsdl:message>
	<wsdl:message name="TuotteenSkeemaResponse60_Headers">
		<wsdl:part name="clientField" element="q30:client"
			xmlns:q30="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="id" element="q31:id" xmlns:q31="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="issue" element="q32:issue"
			xmlns:q32="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="serviceField" element="q33:service"
			xmlns:q33="http://x-road.eu/xsd/sdsb.xsd" />
		<wsdl:part name="userId" element="q34:userId"
			xmlns:q34="http://x-road.eu/xsd/sdsb.xsd" />
	</wsdl:message>
	<wsdl:portType name="ISoSoAdapterService60">
		<wsdl:operation name="HenkilonTunnusKysely">
			<wsdl:input wsaw:Action="" name="HenkilonTunnusKyselyRequest60"
				message="tns:HenkilonTunnusKyselyRequest60" />
			<wsdl:output
				wsaw:Action="http://xml.vrk.fi/ws/vtj/vtjkysely/1/ISoSoAdapterService60/HenkilonTunnusKyselyResponse"
				name="HenkiloTunnusKyselyResponse60" message="tns:HenkiloTunnusKyselyResponse60" />
		</wsdl:operation>
		<wsdl:operation name="HaeTuotteenSkeema">
			<wsdl:input wsaw:Action="" name="TuotteenSkeemaRequest60"
				message="tns:TuotteenSkeemaRequest60" />
			<wsdl:output
				wsaw:Action="http://xml.vrk.fi/ws/vtj/vtjkysely/1/ISoSoAdapterService60/HaeTuotteenSkeemaResponse"
				name="TuotteenSkeemaResponse60" message="tns:TuotteenSkeemaResponse60" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_ISoSoAdapterService60"
		type="tns:ISoSoAdapterService60">
		<wsp:PolicyReference URI="#BasicHttpBinding_ISoSoAdapterService60_policy" />
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="HenkilonTunnusKysely">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="HenkilonTunnusKyselyRequest60">
				<soap:header message="tns:HenkilonTunnusKyselyRequest60_Headers"
					part="clientField" use="literal" />
				<soap:header message="tns:HenkilonTunnusKyselyRequest60_Headers"
					part="id" use="literal" />
				<soap:header message="tns:HenkilonTunnusKyselyRequest60_Headers"
					part="issue" use="literal" />
				<soap:header message="tns:HenkilonTunnusKyselyRequest60_Headers"
					part="serviceField" use="literal" />
				<soap:header message="tns:HenkilonTunnusKyselyRequest60_Headers"
					part="userId" use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="HenkiloTunnusKyselyResponse60">
				<soap:header message="tns:HenkiloTunnusKyselyResponse60_Headers"
					part="clientField" use="literal" />
				<soap:header message="tns:HenkiloTunnusKyselyResponse60_Headers"
					part="id" use="literal" />
				<soap:header message="tns:HenkiloTunnusKyselyResponse60_Headers"
					part="issue" use="literal" />
				<soap:header message="tns:HenkiloTunnusKyselyResponse60_Headers"
					part="serviceField" use="literal" />
				<soap:header message="tns:HenkiloTunnusKyselyResponse60_Headers"
					part="userId" use="literal" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HaeTuotteenSkeema">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="TuotteenSkeemaRequest60">
				<soap:header message="tns:TuotteenSkeemaRequest60_Headers"
					part="clientField" use="literal" />
				<soap:header message="tns:TuotteenSkeemaRequest60_Headers"
					part="id" use="literal" />
				<soap:header message="tns:TuotteenSkeemaRequest60_Headers"
					part="issue" use="literal" />
				<soap:header message="tns:TuotteenSkeemaRequest60_Headers"
					part="serviceField" use="literal" />
				<soap:header message="tns:TuotteenSkeemaRequest60_Headers"
					part="userId" use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="TuotteenSkeemaResponse60">
				<soap:header message="tns:TuotteenSkeemaResponse60_Headers"
					part="clientField" use="literal" />
				<soap:header message="tns:TuotteenSkeemaResponse60_Headers"
					part="id" use="literal" />
				<soap:header message="tns:TuotteenSkeemaResponse60_Headers"
					part="issue" use="literal" />
				<soap:header message="tns:TuotteenSkeemaResponse60_Headers"
					part="serviceField" use="literal" />
				<soap:header message="tns:TuotteenSkeemaResponse60_Headers"
					part="userId" use="literal" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SoSoAdapterService60">
		<wsdl:port name="BasicHttpBinding_ISoSoAdapterService60"
			binding="tns:BasicHttpBinding_ISoSoAdapterService60">
			<soap:address
				location="https://vtjkyselykoulutus2010.vrk.fi/KoulutusSoSoAdapterWebSite/SoSoAdapterService60.svc" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>