src/main/resources/wsdl/vtj.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://xml.vrk.fi/ws/vtj/vtjkysely/1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:id="http://x-road.eu/xsd/identifiers" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SoSoAdapterService60" targetNamespace="http://xml.vrk.fi/ws/vtj/vtjkysely/1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://xml.vrk.fi/ws/vtj/vtjkysely/1">
            <xsd:element name="HenkilonTunnusKysely" type="tns:HenkiloTunnusKyselyReqBody" />
            <xsd:complexType name="HenkiloTunnusKyselyReqBody">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="request" type="tns:HenkiloTunnusKyselyReqBodyTiedot" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HenkiloTunnusKyselyReqBodyTiedot">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="SoSoNimi" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="Kayttajatunnus" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="Salasana" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="Loppukayttaja" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="Laskutustiedot" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="Henkilotunnus" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="SahkoinenAsiointitunnus" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="VarmenteenMyontaja" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="X509Certificate" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="VarmenteenVoimassaolotarkistus" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="VarmenteenSulkulistatarkistus" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="Tunnistusportaali" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="Vara1" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="HenkilonTunnusKyselyResponse" type="tns:HenkiloTunnusKyselyResBody" />
            <xsd:complexType name="HenkiloTunnusKyselyResBody">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="request" type="tns:HenkiloTunnusKyselyReqBodyTiedot" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="response" type="tns:HenkiloTunnusKyselyResType" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HenkiloTunnusKyselyResType">
                <xsd:sequence>
                    <xsd:any minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="HaeTuotteenSkeema" type="tns:TuotteenSkeemaReqBody" />
            <xsd:complexType name="TuotteenSkeemaReqBody">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="request" type="tns:TuotteenSkeemaReqBodyTiedot" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TuotteenSkeemaReqBodyTiedot">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="SoSoNimi" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="Laji" type="xsd:int" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="HaeTuotteenSkeemaResponse" type="tns:TuotteenSkeemaResBody" />
            <xsd:complexType name="TuotteenSkeemaResBody">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="reguest" type="tns:TuotteenSkeemaReqBodyTiedot" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="response" type="tns:TuotteenSkeemaResType" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TuotteenSkeemaResType">
                <xsd:sequence>
                    <xsd:any minOccurs="0" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://x-road.eu/xsd/xroad.xsd">
            <xsd:element xmlns:q1="http://x-road.eu/xsd/xroad.xsd" name="client" type="q1:Client" />
            <xsd:complexType name="Client">
                <xsd:sequence>
                    <xsd:element xmlns:q2="http://x-road.eu/xsd/identifiers" minOccurs="0" maxOccurs="1" ref="q2:xRoadInstance" />
                    <xsd:element xmlns:q3="http://x-road.eu/xsd/identifiers" minOccurs="0" maxOccurs="1" ref="q3:memberClass" />
                    <xsd:element xmlns:q4="http://x-road.eu/xsd/identifiers" minOccurs="0" maxOccurs="1" ref="q4:memberCode" />
                    <xsd:element xmlns:q5="http://x-road.eu/xsd/identifiers" minOccurs="0" maxOccurs="1" ref="q5:subsystemCode" />
                </xsd:sequence>
                <xsd:attribute xmlns:q6="http://x-road.eu/xsd/identifiers" ref="q6:objectType" />
            </xsd:complexType>
            <xsd:element name="id" type="xsd:string" />
            <xsd:element name="issue" type="xsd:string" />
            <xsd:element name="protocolVersion" type="xsd:string" />
            <xsd:element xmlns:q7="http://x-road.eu/xsd/xroad.xsd" name="service" type="q7:Service" />
            <xsd:complexType name="Service">
                <xsd:sequence>
                    <xsd:element xmlns:q8="http://x-road.eu/xsd/identifiers" minOccurs="0" maxOccurs="1" ref="q8:xRoadInstance" />
                    <xsd:element xmlns:q9="http://x-road.eu/xsd/identifiers" minOccurs="0" maxOccurs="1" ref="q9:memberClass" />
                    <xsd:element xmlns:q10="http://x-road.eu/xsd/identifiers" minOccurs="0" maxOccurs="1" ref="q10:memberCode" />
                    <xsd:element xmlns:q11="http://x-road.eu/xsd/identifiers" minOccurs="0" maxOccurs="1" ref="q11:subsystemCode" />
                    <xsd:element xmlns:q12="http://x-road.eu/xsd/identifiers" minOccurs="0" maxOccurs="1" ref="q12:serviceCode" />
                    <xsd:element xmlns:q13="http://x-road.eu/xsd/identifiers" minOccurs="0" maxOccurs="1" ref="q13:serviceVersion" />
                </xsd:sequence>
                <xsd:attribute xmlns:q14="http://x-road.eu/xsd/identifiers" ref="q14:objectType" />
            </xsd:complexType>
            <xsd:element name="userId" type="xsd:string" />
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://x-road.eu/xsd/identifiers">
            <xsd:element name="xRoadInstance" type="xsd:string" />
            <xsd:element name="memberClass" type="xsd:string" />
            <xsd:element name="memberCode" type="xsd:string" />
            <xsd:element name="subsystemCode" type="xsd:string" />
            <xsd:attribute name="objectType" type="xsd:string" />
            <xsd:element name="serviceCode" type="xsd:string" />
            <xsd:element name="serviceVersion" type="xsd:string" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="HenkilonTunnusKyselyRequest60">
        <wsdl:part name="HenkilonTunnusKysely" element="tns:HenkilonTunnusKysely" />
    </wsdl:message>
    <wsdl:message name="HenkilonTunnusKyselyRequest60_Headers">
        <wsdl:part xmlns:q15="http://x-road.eu/xsd/xroad.xsd" name="clientField" element="q15:client" />
        <wsdl:part xmlns:q16="http://x-road.eu/xsd/xroad.xsd" name="id" element="q16:id" />
        <wsdl:part xmlns:q17="http://x-road.eu/xsd/xroad.xsd" name="issue" element="q17:issue" />
        <wsdl:part xmlns:q18="http://x-road.eu/xsd/xroad.xsd" name="protocolVersion" element="q18:protocolVersion" />
        <wsdl:part xmlns:q19="http://x-road.eu/xsd/xroad.xsd" name="serviceField" element="q19:service" />
        <wsdl:part xmlns:q20="http://x-road.eu/xsd/xroad.xsd" name="userId" element="q20:userId" />
    </wsdl:message>
    <wsdl:message name="HenkiloTunnusKyselyResponse60">
        <wsdl:part name="HenkilonTunnusKyselyResponse" element="tns:HenkilonTunnusKyselyResponse" />
    </wsdl:message>
    <wsdl:message name="HenkiloTunnusKyselyResponse60_Headers">
        <wsdl:part xmlns:q21="http://x-road.eu/xsd/xroad.xsd" name="clientField" element="q21:client" />
        <wsdl:part xmlns:q22="http://x-road.eu/xsd/xroad.xsd" name="id" element="q22:id" />
        <wsdl:part xmlns:q23="http://x-road.eu/xsd/xroad.xsd" name="issue" element="q23:issue" />
        <wsdl:part xmlns:q24="http://x-road.eu/xsd/xroad.xsd" name="protocolVersion" element="q24:protocolVersion" />
        <wsdl:part xmlns:q25="http://x-road.eu/xsd/xroad.xsd" name="serviceField" element="q25:service" />
        <wsdl:part xmlns:q26="http://x-road.eu/xsd/xroad.xsd" name="userId" element="q26:userId" />
    </wsdl:message>
    <wsdl:message name="TuotteenSkeemaRequest60">
        <wsdl:part name="HaeTuotteenSkeema" element="tns:HaeTuotteenSkeema" />
    </wsdl:message>
    <wsdl:message name="TuotteenSkeemaRequest60_Headers">
        <wsdl:part xmlns:q27="http://x-road.eu/xsd/xroad.xsd" name="clientField" element="q27:client" />
        <wsdl:part xmlns:q28="http://x-road.eu/xsd/xroad.xsd" name="id" element="q28:id" />
        <wsdl:part xmlns:q29="http://x-road.eu/xsd/xroad.xsd" name="issue" element="q29:issue" />
        <wsdl:part xmlns:q30="http://x-road.eu/xsd/xroad.xsd" name="protocolVersion" element="q30:protocolVersion" />
        <wsdl:part xmlns:q31="http://x-road.eu/xsd/xroad.xsd" name="serviceField" element="q31:service" />
        <wsdl:part xmlns:q32="http://x-road.eu/xsd/xroad.xsd" name="userId" element="q32:userId" />
    </wsdl:message>
    <wsdl:message name="TuotteenSkeemaResponse60">
        <wsdl:part name="HaeTuotteenSkeemaResponse" element="tns:HaeTuotteenSkeemaResponse" />
    </wsdl:message>
    <wsdl:message name="TuotteenSkeemaResponse60_Headers">
        <wsdl:part xmlns:q33="http://x-road.eu/xsd/xroad.xsd" name="clientField" element="q33:client" />
        <wsdl:part xmlns:q34="http://x-road.eu/xsd/xroad.xsd" name="id" element="q34:id" />
        <wsdl:part xmlns:q35="http://x-road.eu/xsd/xroad.xsd" name="issue" element="q35:issue" />
        <wsdl:part xmlns:q36="http://x-road.eu/xsd/xroad.xsd" name="protocolVersion" element="q36:protocolVersion" />
        <wsdl:part xmlns:q37="http://x-road.eu/xsd/xroad.xsd" name="serviceField" element="q37:service" />
        <wsdl:part xmlns:q38="http://x-road.eu/xsd/xroad.xsd" name="userId" element="q38:userId" />
    </wsdl:message>
    <wsdl:portType name="ISoSoAdapterService60">
        <wsdl:operation name="HenkilonTunnusKysely">
            <wsdl:input wsaw:Action="" name="HenkilonTunnusKyselyRequest60" message="tns:HenkilonTunnusKyselyRequest60" />
            <wsdl:output wsaw:Action="http://xml.vrk.fi/ws/vtj/vtjkysely/1/ISoSoAdapterService60/HenkilonTunnusKyselyResponse" name="HenkiloTunnusKyselyResponse60" message="tns:HenkiloTunnusKyselyResponse60" />
        </wsdl:operation>
        <wsdl:operation name="HaeTuotteenSkeema">
            <wsdl:input wsaw:Action="" name="TuotteenSkeemaRequest60" message="tns:TuotteenSkeemaRequest60" />
            <wsdl:output wsaw:Action="http://xml.vrk.fi/ws/vtj/vtjkysely/1/ISoSoAdapterService60/HaeTuotteenSkeemaResponse" name="TuotteenSkeemaResponse60" message="tns:TuotteenSkeemaResponse60" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_ISoSoAdapterService60" type="tns:ISoSoAdapterService60">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="HenkilonTunnusKysely">
            <soap:operation soapAction="" style="document" />
            <id:version>v1</id:version>
            <wsdl:input name="HenkilonTunnusKyselyRequest60">
                <soap:header message="tns:HenkilonTunnusKyselyRequest60_Headers" part="clientField" use="literal" />
                <soap:header message="tns:HenkilonTunnusKyselyRequest60_Headers" part="id" use="literal" />
                <soap:header message="tns:HenkilonTunnusKyselyRequest60_Headers" part="issue" use="literal" />
                <soap:header message="tns:HenkilonTunnusKyselyRequest60_Headers" part="protocolVersion" use="literal" />
                <soap:header message="tns:HenkilonTunnusKyselyRequest60_Headers" part="serviceField" use="literal" />
                <soap:header message="tns:HenkilonTunnusKyselyRequest60_Headers" part="userId" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="HenkiloTunnusKyselyResponse60">
                <soap:header message="tns:HenkiloTunnusKyselyResponse60_Headers" part="clientField" use="literal" />
                <soap:header message="tns:HenkiloTunnusKyselyResponse60_Headers" part="id" use="literal" />
                <soap:header message="tns:HenkiloTunnusKyselyResponse60_Headers" part="issue" use="literal" />
                <soap:header message="tns:HenkiloTunnusKyselyResponse60_Headers" part="protocolVersion" use="literal" />
                <soap:header message="tns:HenkiloTunnusKyselyResponse60_Headers" part="serviceField" use="literal" />
                <soap:header message="tns:HenkiloTunnusKyselyResponse60_Headers" part="userId" use="literal" />
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HaeTuotteenSkeema">
            <soap:operation soapAction="" style="document" />
            <id:version>v1</id:version>
            <wsdl:input name="TuotteenSkeemaRequest60">
                <soap:header message="tns:TuotteenSkeemaRequest60_Headers" part="clientField" use="literal" />
                <soap:header message="tns:TuotteenSkeemaRequest60_Headers" part="id" use="literal" />
                <soap:header message="tns:TuotteenSkeemaRequest60_Headers" part="issue" use="literal" />
                <soap:header message="tns:TuotteenSkeemaRequest60_Headers" part="protocolVersion" use="literal" />
                <soap:header message="tns:TuotteenSkeemaRequest60_Headers" part="serviceField" use="literal" />
                <soap:header message="tns:TuotteenSkeemaRequest60_Headers" part="userId" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="TuotteenSkeemaResponse60">
                <soap:header message="tns:TuotteenSkeemaResponse60_Headers" part="clientField" use="literal" />
                <soap:header message="tns:TuotteenSkeemaResponse60_Headers" part="id" use="literal" />
                <soap:header message="tns:TuotteenSkeemaResponse60_Headers" part="issue" use="literal" />
                <soap:header message="tns:TuotteenSkeemaResponse60_Headers" part="protocolVersion" use="literal" />
                <soap:header message="tns:TuotteenSkeemaResponse60_Headers" part="serviceField" use="literal" />
                <soap:header message="tns:TuotteenSkeemaResponse60_Headers" part="userId" use="literal" />
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SoSoAdapterService60">
        <wsdl:port name="BasicHttpBinding_ISoSoAdapterService60" binding="tns:BasicHttpBinding_ISoSoAdapterService60">
            <soap:address location="https://vtjkyselytesti.vrk.fi/SoSoAdapterWebSite/SoSoAdapterService60.svc" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>